:root {
    --primary-color: #002D59;
    --second-color: #FF8024;
    --third-color: #373737;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Phan Header */

header {
    max-width: 1920px;
    /* background: linear-gradient(85deg, #5F9FFF -3.78%, #5D34EC 103.8%); */
    background-image: url(../data/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 300px;
}

.header {
    max-width: 1320px;
}

.header-top {
    display: flex;
    padding-top: 15px;
    align-items: center;
}

.hide-menu {
    display: none;
}

.logo {
    width: 900px;
}

.logo img {
    width: 164px;
    height: 48px;
}

.menu {
    width: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 700;
    color: white;
}

.menu ul li a {
    cursor: pointer;
    padding: 4px 8px;
    transition: 0.5s;
}

.menu ul li:first-child a {
    color: #FFBF91;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    background: white;
    color: #5D34EC;
    border-radius: 6px;
}

.header-info {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header-content {
    padding: 80px 0;
    width: 550px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-content h1 {
    text-shadow: 0px 4px 4px rgba(0, 41, 255, 0.32);
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.header-content span {
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px;
}

.header-content p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
}

.header-content button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.header-content button:hover {
    color: #5F9FFF;
    background: white;
    border-color: #5F9FFF;
}

.header-img {
    right: 0px;
    width: 770px;
    height: 400px;
}

.header-img img {
    position: absolute;
    width: 48%;
    top: 0;
    right: 0;
}

/* .img1 {
    position: absolute;
    top: 20px;
    right: 200px;
    z-index: 1;
}

.img2 {
    position: absolute;
    top: 0;
    left: 160px;
}

.img3 {
    position: absolute;
    top: 0px;
    right: 60px;
}

.img4 {
    position: absolute;
    top: 100px;
    right: 250px;
}

.img5 {
    position: absolute;
    bottom: 10px;
    left: 180px;
}

.img6 {
    position: absolute;
    bottom: 10px;
    right: 130px;
} */

/* Phan main */
main {
    max-width: 1920px;
}

/* About */
.about {
    padding: 60px 300px;
    width: 100%;
    /* height: 570px; */
    margin: 0;
}

.about-cont {
    max-width: 1320px;
    display: flex;
    gap: 84px;
}

.about-img {
    width: 620px;
}

/* .about2 {
    position: absolute;
    top: 23px;
    left: 24.3px;
}

.about3 {
    position: absolute;
    bottom: 20px;
    right: 0px;
    z-index: 1;
}

.about4 {
    position: absolute;
    bottom: 40px;
    right: 10px;
} */

.about-content {
    width: 700px;
}

.about-content h2 {
    color: var(--primary-color);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.about-content p {
    color: var(--third-color);
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0;
}

.about-content button {
    border: 1px solid var(--second-color);
    background: transparent;
    color: var(--second-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.about-content button:hover {
    background: var(--second-color);
    color: white;
    border-color: white;
}

/* Feature */

.feature {
    padding: 60px 300px;
}

.feature-cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.feature h2 {
    color: var(--primary-color);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.feature h2 span {
    color: var(--second-color);
}

.feature-info {
    display: flex;
    gap: 24px;
}

.feature-content {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    gap: 24px;
}

.feature-box {
    display: flex;
    gap: 24px;
}

.feature-box1 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 128, 36, 0.10);
    flex-shrink: 0;
}

.feature-box2 {
    width: 610px;
}

.feature-title {
    color: var(--primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.feature-text {
    color: var(--third-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.feature-img {
    position: relative;
}

.feature-img img {
    position: relative;
    width: 147.2%;
    height: 92%;
}

/* .fi1 {
    position: absolute;
    width: 936px;
    height: 650px;
    z-index: 1;
}

.fi2 {
    position: absolute;
    top: 25px;
    right: -936px;
} */

/* Function */

.function {
    padding: 60px 300px;
}

.funct-cont {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.function h2 {
    color: var(--primary-color);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.function h2 span {
    color: var(--second-color);
}

.function-content {
    display: flex;
    justify-content: space-between;
}

.function-left {
    width: 320px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 24px;
}

.function-center {
    width: 620px;
    position: relative;
}

.function-right {
    width: 320px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 48px;
}

.function-text p {
    color: var(--third-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 16px;
}

.function-text p span {
    color: var(--primary-color);
    font-weight: 700;
    line-height: 28px;
}

.function-img {
    position: absolute;
    top: -400px;
    left: -300px;
    z-index: -1;
}

.dot-slide {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.dot-slide div {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.dot-slide div:first-child {
    background: linear-gradient(45deg, #5F9FFF -19.75%, #5D34EC 114.5%);
}

/* application */

.application {
    padding: 60px 300px;
}

.app-cont {
    display: flex;
    gap: 38px;
    flex-direction: column;
    text-align: center;
}

.application h2 {
    color: var(--primary-color);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.application h2 span {
    color: var(--second-color);
}

.app-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.app-text {
    display: flex;
    flex-direction: column;
    width: 1000px;
    color: var(--third-color);
    margin: 0 auto;
    position: relative;
    padding: 23px 64px 0px 64px;
}

.app-text p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.app1 {
    position: absolute;
    top: 0;
    left: 0;
}

.app2 {
    position: absolute;
    bottom: -20px;
    right: 0;
}

/* award */

.award {
    padding: 60px 300px;
}

.award-cont {
    display: flex;
    justify-content: space-between;
}

.award-logo {
    /* width: 828px;
    height: 400px; */
    padding: 0 64px;
}

.award-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.award-content h2 {
    color: var(--primary-color);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.award-content span {
    color: var(--second-color);
}

.award-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.award-detail {
    display: flex;
    gap: 24px;
}

.award-box1 {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 128, 36, 0.10);
    flex-shrink: 0;
}

.award-text h3 {
    color: var(--primary-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.award-text p {
    color: var(--third-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

/* news */

.news {
    /* background: linear-gradient(45deg, #5F9FFF -19.75%, #5D34EC 114.5%); */
    background-image: url(../data/news-background.png);
    padding: 80px 300px;
}

.news-cont {
    display: flex;
    justify-content: space-between;
}

.news-box {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.news h2 {
    width: 312px;
    color: white;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.news-article {
    width: 312px;
    background: white;
    border-radius: 16px;
}

.news-img {
    padding: 8px;
    position: relative;
    cursor: pointer;
}

.news-time {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 4px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 8px;
    background: #FF8024;
    box-shadow: 0px 0px 16px 0px rgba(27, 40, 112, 0.20);
    position: absolute;
    left: 8px;
    bottom: 12px;
}

.news-time span {
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

.news-time span:first-child {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.news-content {
    display: flex;
    flex-direction: column;
    padding: 8px 16px 16px 16px;
    gap: 8px;
}

.news-content h4 {
    height: 48px;
    color: #002D59;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.news-content p {
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* contact */

.contact {
    padding: 60px 300px;
}

.contact-cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact h2 {
    color: var(--primary-color);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.contact h2 span {
    color: var(--second-color);
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.contact-info1 {
    display: flex;
    gap: 24px;
}

.contact-box {
    display: flex;
    gap: 16px;
    border-radius: 16px;
    background: rgba(255, 128, 36, 0.10);
    padding: 24px;
    flex: 1 0 0;
    transition: 0.3s;
    cursor: pointer;
}

.contact-box:hover {
    background: rgb(158, 218, 255);
}

.contact-text {
    color: var(--third-color);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-text h4 {
    color: var(--primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.contact-info2 {
    display: flex;
    gap: 64px;
}

.star {
    color: var(--second-color);
}

.contact-form {
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-block1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-block1 label {
    color: var(--primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.contact-block1 input {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 45, 89, 0.04);
    background: rgba(0, 45, 89, 0.04);
    flex: 1 0 0;
}

.contact-block2 {
    display: flex;
    gap: 24px;
}

.contact-block2-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 0 0;
}

.contact-block2-1 input {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 45, 89, 0.04);
    background: rgba(0, 45, 89, 0.04);
    flex: 1 0 0;
}

.contact-block2 label {
    color: var(--primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.contact-block1 textarea {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 45, 89, 0.04);
    background: rgba(0, 45, 89, 0.04);
}

::placeholder {
    color: var(--primary-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.3;
}

.contact-btn {
    padding-top: 20px;
}

.contact-btn input {
    padding: 8px 48px;
    border-radius: 8px;
    background: var(--second-color);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn input:hover {
    background: rgb(158, 218, 255);
    color: var(--primary-color);
}

/* footer */
footer {
    display: flex;
    max-width: 1920px;
    padding: 12px 300px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #5F9FFF -19.75%, #5D34EC 114.5%);
}

footer p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

/* Go to top */

#goTop {
    position: fixed;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #FF8024;
    background: #FFF;
    bottom: 25px;
    right: 80px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
    opacity: 0.5;
}

#goTop:hover {
    background: var(--primary-color);
    opacity: 1;
}


/* responsive */

@media screen and (min-width: 1920px) {

    main,
    header,
    footer {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    main {
        max-width: 1919px;
    }

    header {
        padding: 0;
    }

    .header {
        margin: 0 auto;
    }

    .about {
        padding: 50px 0;
    }

    .about-cont {
        margin: 0 auto;
    }

    .feature {
        padding: 50px 0;
    }

    .feature-cont {
        max-width: 1320px;
        margin: 0 auto;
    }

    /* .feature-img{
        width: 50%;
    } */
    .feature-img img {
        max-width: 105%;
        height: auto;
    }

    /* .feature-content {
        padding-left: 10%;
    } */

    .function {
        padding: 0;
    }

    .funct-cont {
        max-width: 1320px;
        margin: 0 auto;
    }

    .application {
        padding: 60px 0;
    }

    .app-cont {
        margin: 0 auto;
    }

    .award {
        padding: 60px 0;
    }

    .award-cont {
        max-width: 1320px;
        margin: 0 auto;
    }

    .news {
        padding: 60px 0;
    }

    .news-cont {
        max-width: 1320px;
        margin: 0 auto;
    }



    .contact {
        padding: 60px 0;
    }

    .contact-cont {
        max-width: 1320px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 1919px) {
    footer {
        padding: 10px;
        justify-content: space-around;
    }

    header {
        padding: 0;
    }

    .about,
    .feature,
    .function,
    .application,
    .award,
    .news,
    .contact {
        padding: 40px 0;
    }

    .header,
    .about-cont,
    .feature-cont,
    .function-cont,
    .app-cont,
    .award-cont,
    .news-cont,
    .contact-cont {
        margin: 0 auto;
    }

}

@media screen and (max-width: 1440px) {

    .header,
    .about-cont,
    .funct-cont,
    .award-cont,
    .news-cont,
    .contact-cont {
        max-width: 1280px;
        padding: 0 30px;
    }

    .header-top {
        font-size: 90%;
    }

    .logo {
        max-width: 500px;
    }

    .feature-cont {
        max-width: 1280px;
        padding: 0 0 0 30px;
    }

    .feature-content {
        gap: 12px;
    }

    .feature-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .feature-img img {
        width: 100%;
        height: auto;
    }

    .funct-cont {
        gap: 48px;
    }

    .news-cont {
        flex-direction: column;
        gap: 40px;
    }

    .news-cont h2 {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1280px) {
    .header-top {
        font-size: 89%;
    }

    .logo {
        width: 35%;
    }

    .header-content {
        width: 55%;
    }

    .header-content h1 {
        font-size: 35px;
    }

    .header-content span {
        font-size: 35px;
    }

    .header-content p {
        font-size: 16px;
        width: 80%;
    }

    .about-cont {
        gap: 30px;
    }

    .about-img img {
        width: 450px;
    }

    .about-content h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .about-content p {
        font-size: 16px;
        line-height: 25px;
    }

    .feature-cont h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .feature-content {
        max-width: 500px;
        gap: 15px;
    }

    .feature-box {
        align-items: center;
    }

    .feature-text {
        display: none;
    }

    .feature-img img {
        width: 100%;
        height: auto;
    }

    .funct-cont {
        gap: 30px;
    }

    .funct-cont h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .function-text p {
        padding: 0 16px;
        line-height: 24px;
    }

    .function-text p span {
        line-height: 24px;
    }

    .function-center img {
        width: 100%;
    }

    .function-img {
        top: -250px;
        left: -150px;
        width: 150% !important;
    }

    .function-right {
        gap: 70px;
    }

    .app-cont h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .app-text p {
        font-size: 18px;
    }

    .app1 {
        left: 20px;
    }

    .app2 {
        right: 20px;
    }

    .award-content h2 {
        font-size: 29px;
        line-height: 30px;
    }

    .award-logo {
        padding: 0;
        width: 50%;
    }

    .news-cont h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .news-box {
        gap: 12px;
    }

    .news-article {
        width: 300px;
    }

    .news-img img {
        width: 100%;
    }

    .contact-cont h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .contact-info2 {
        flex-direction: column;
    }
}

@media screen and (max-width: 1139px) {
    .header-top {
        font-size: 89%;
    }

    .logo {
        width: 35%;
    }

    .header-content {
        width: 55%;
    }

    .header-content h1 {
        font-size: 30px;
    }

    .header-content span {
        font-size: 30px;
    }

    .header-content p {
        font-size: 16px;
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .header-top {
        justify-content: space-between;
        padding-bottom: 12px;
    }

    .hide-menu {
        display: inline;
        width: 10%;
    }

    .hide-menu svg {
        font-size: 40px;
    }

    .menu {
        display: none;
    }

    .logo {
        display: flex;
        width: 90%;
        text-align: center;
        /* justify-content: center; */
        position: relative;
        left: 15%;
        margin: 0 auto;
    }

    .header-content {
        width: 80%;
    }

    .header-content h1 {
        font-size: 24px;
    }

    .header-content span {
        font-size: 24px;
    }

    .header-img img {
        padding: 80px 0;
    }

    .about-cont,
    .feature-cont {
        max-width: 768px;
    }

    .about-img img {
        width: 150px;
    }

    .about-content {
        max-width: 500px;
    }

    .about-content p {

        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .feature-img img {
        display: none;
    }

    .feature-content {
        max-width: 100%;
    }

    .function-center {
        display: none;
    }

    .dot-slide {
        display: none;
    }

    .function-right {
        gap: 50px;
    }

    .app-cont {
        padding: 0 10px;
    }

    .app1 {
        left: 10px;
    }

    .app2 {
        right: 40px;
    }

    .app-text {
        max-width: 768px;
        margin: 0 auto;
    }

    .award-cont {
        align-items: center;
    }

    .award-logo {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .award-content h2 {
        line-height: 30px;
    }

    .news-box {
        flex-wrap: wrap;
    }

    .contact-box {
        flex-direction: column;
        align-items: center;
    }

    .contact-box svg {
        flex-shrink: 0;
        text-align: center;
    }

    .contact-text {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        justify-content: flex-end;
        left: 0;
    }

    .header-info {
        flex-direction: column;
    }

    .header-content {
        width: 100%;
        justify-content: center;
    }

    .header-img {
        display: none
    }

    .about-content {
        max-width: 60%;
    }

    .about-content h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .feature-cont h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .feature-title {
        font-size: 16px;
        line-height: 20px;
    }

    .funct-cont h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .function-content {
        gap: 24px;
    }

    .function-left {
        width: 50%;
        flex-shrink: 0;
    }

    .function-right {
        width: 50%;
        flex-shrink: 0;
    }

    .function-text p {
        padding: 0;
    }

    .app-cont h2 {
        font-size: 24px;
        line-height: 30px;
        padding: 0 60px;
    }

    .app-text {
        max-width: 400px;
    }

    .app-text p {
        font-size: 16px;
    }

    .award-content h2 {
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }

    .award-text p {
        font-size: 16px;
    }

    .award-logo {
        display: none;
    }

    .news-cont h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .contact-cont h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .contact-info1 {
        flex-direction: column;
    }

    footer p {
        font-size: 12px;
    }

    #goTop {
        right: 20px;
    }
}

@media screen and (max-width: 480px) {

    .header,
    .about-cont,
    .funct-cont,
    .award-cont,
    .news-cont,
    .contact-cont,
    .feature-cont,
    .app-cont {
        padding: 0 24px;
    }

    .hide-menu svg {
        font-size: 30px;
    }

    .header-content h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .header-content span {
        font-size: 20px;
        line-height: 28px;
    }

    .header-content button {
        padding: 4px 8px;
        font-size: 13px;
    }

    .about-cont {
        flex-direction: column;
    }

    .about-img {
        max-width: 100%;
        text-align: center;
    }

    .about-content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-content h2{
        text-align: center;
    }
   .function-content{
    flex-direction: column;
   }
   .function-left,
   .function-right{
    width: 100%;
    text-align: justify;
    gap: 24px;
   }
   .app-cont h2{
    padding: 0;
   }
   .app-text{
    max-width: 100%;
    padding: 0;
   }
   .app1, .app2{
    width: 20%;
   }
   .app1{
    top: -55px;
    left: -10px;
   }
   .app2{
    bottom: -50px;
    right: -15px;
   }
   .award-content{
    gap: 24px;
   }
   .award-content h2{
    text-align: center;
    line-height: 30px;
   }
   .award-box{
    gap: 30px;
   }
   .award-box1{
    width: 50px;
    height: 50px;
   }
   .award-box1 img{
    width: 50%;
    height: 50%;
   }
   .news-article{
    max-width: 250px;
   }
   .contact-box{
    padding: 12px;
   }
   .contact-text h4{
    font-size: 16px;
    line-height: 20px;
   }
   .contact-block2{
    flex-direction: column;
   }
   footer p{
    line-height: 13px;
   }
}

/* @media screen and (max-width: 320px) {} */